<div class="category-product-list-wrap" :class="[customClass]">
    <div class="pro-item"
        v-for="(cps_product, cps_index) in list" 
        :key="'cps_product_' + cps_product.sku_id"  
        @click="clickSku(cps_product)" 
        v-stat="{'hottag':`${hotTag}_${cps_product.sku_id}`,'skuId':cps_product.sku_id}"
    >
        <a href="javascript:;" class="pro-wrap">
            <div class="img-wrap">
                <img class="pro-img" v-lazy="cps_product.sku_pic && cps_product.sku_pic[0]" />
            </div>
            <div class="pro-info">    
                <h3 class="title">
                    <div class="text-of-two"><img v-lazy="cps_product.channel_icon" :key="'channel_icon'"/>{{cps_product.product_name}}</div>
                </h3>
                <div class="price-wrap">
                    <!--预售样式-->
                    <div class="amount presale_amount" v-if="cps_product.presale_info && cps_product.presale_info.prepay_price">
                        <div class="amount-top">
                            <span class="presale-tip">预售价</span>
                            <span v-html="handlePrice(cps_product.presale_info.prepay_price || 0)"></span>
                        </div>
                        <div class="amount-bottom">
                            <div class="presale-price" v-if="cps_product.presale_info.presale_deposit">定金<span>&yen;{{Number(cps_product.presale_info.presale_deposit)}}</span></div>
                            <div class="presale-promotion-tag" v-if="cps_product.presale_info.presale_discount_fee_text"><span>{{cps_product.presale_info.presale_discount_fee_text}}</span></div>
                        </div>
                    </div>
                    <!--普通样式-->
                    <div class="amount" v-else>
                        <div class="fs-0">
                            <span class="coupon-price" v-html="handlePrice(cps_product.coupon_price || 0)"></span>
                            <span class="channel-tip">{{cps_product.channel_price_type}} &yen;{{cps_product.channel_price || 0}}</span>
                        </div>
                        <div class="promotion-info-wrap" v-if="cps_product.promotion_info && cps_product.promotion_info.promotion_rebate">
                            <div class="promotion-info-content" :class="{'promotion-info-vip': cps_product.promotion_info.promotion_type === 'VIP'}">
                                <img class="promotion-icon" v-if="cps_product.promotion_info.promotion_icon" v-lazy="cps_product.promotion_info.promotion_icon">
                                <div class="discount-wrap" v-if="cps_product.promotion_info.promotion_rebate">
                                    <span class="promotion-tag">{{cps_product.promotion_info.promotion_tag}}</span>
                                    <span class="sign">&yen;</span>
                                    <span class="cash-back-price">{{cps_product.promotion_info.promotion_rebate || 0}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>