<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ares Debug</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no, email=no">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="/res/css/index.css">
</head>
<body>
    <div id="root">
        <el-container v-cloak class="container">
            <el-header height="64px" style="margin-bottom: 24px;"></el-header>
            <el-header height="64px" class="header">
                <h1 class="header-wrap">
                    <img class="fav-icon" src="/favicon.ico" />
                    <span>Ares-Debug</span>
                </h1>
            </el-header>
        </el-container>
        <el-container v-cloak class="container">
            <el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
                <el-menu-item index="1">
                    <i class="el-icon-menu"></i>
                    <span slot="title">构建入口</span>
                </el-menu-item>
            </el-menu>
            <el-main>
                <h1>页面列表</h1>
                <el-table
                    :data="entryList"
                    style="width: 100%">
                    <el-table-column
                    label="ENTRY KEY"
                    width="300">
                    <template slot-scope="scope">
                        <i class="el-icon-s-flag"></i>
                        <span style="margin-left: 10px">{{ scope.row.key }}</span>
                    </template>
                    </el-table-column>
                    <el-table-column
                    label="version"
                    width="180">
                    <template slot-scope="scope">
                        <el-tag type="danger" size="medium">{{ scope.row.version }}</el-tag>
                    </template>
                    </el-table-column>
                    <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                        size="mini"
                        @click="goLink(scope.row.debugLink)">查看</el-button>
                    </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
    var app = new Vue({
            el: '#root',
            data: {
                isCollapse: true,
                entrys: JSON.parse('<%- JSON.stringify(entrys) %>'),
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                    }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1517 弄'
                    }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1519 弄'
                    }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1516 弄'
                }]
            },
            computed: {
                entryList() {
                    let entrys = this.entrys;
                    let entryList = [];
                    for (key in entrys){
                        let keyArry = key.split('_');
                        let version = keyArry[keyArry.length - 1];
                        keyArry.splice(keyArry.length - 1, 1);
                        let entry = {
                            key,
                            version,
                            debugLink: `${keyArry.join('/')}.html?v=${version}`
                        };
                        entryList.push(entry);
                    }
                    return entryList;
                }
            },
            methods: {
                handleOpen: () => {

                },
                handleClose: () => {

                },
                goLink: (link) => {
                    window.open(link);
                },
                handleEdit(index, row) {
                    console.log(index, row);
                },
                handleDelete(index, row) {
                    console.log(index, row);
                }

            },
            mounted() {

            }
        });
  </script>
</body>
</html>